

@mixin custom_warning {
  color: #ff3300;
}
.product-processing-icon {
    font-size: 20px;
  }
.primary-font{
  color: #314E5F;
  font-weight: 400;  
}
.strong-font {
  color: black;
  font-weight: 400;
}
body {
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,sans-serif;
}
.vs-radio{
  width: 10px;
  height: 10px;
}
.vs-notifications {
  text-align: center;
  padding: 5px !important;
  p {
    justify-content: center;
    margin: 10px !important;    
  };
  .vs-icon-noti {
    background: none !important;
  }
  h1, h2, h3{
    color:white;
  }
}
.vs-input--label, .vs-select--label {
  color: #314E5F;
  font-weight: 500 ;
}
h1, h2, h3{
  color: #333333;
}
h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight-normal ;
}
p {
  font-weight: $font-weight-light;
}

div, tr, td, th, span, label{
  font-weight: 400;
  // color: #314E5F;

}
.vs-popup--header{
  padding: 0px 10px;
  height: 70px !important;
}
.vs-popup--content{
  padding: 0px 30px ;
  width: 100%;
}
.vs-popup--close {
  background-color: transparent !important;
  transition: none !important;
  transform: none !important;
  box-shadow: none !important;
}
.description-font {
  color: #888888;
  font-size: 13px;
}
.vs-sidebar-primary .vs-sidebar-item-active{
  padding-right: 0px !important;
  width: 100% !important;
  overflow: hidden !important;
  box-sizing: inherit !important;
}
