

@mixin custom_warning {
  color: #ff3300;
}
.product-processing-icon {
    font-size: 20px;
  }
.primary-font{
  color: #314E5F;
  font-weight: 400;  
}
.strong-font {
  color: black;
  font-weight: 400;
}
body {
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,sans-serif;
}
.vs-radio{
  width: 10px;
  height: 10px;
}
.vs-notifications {
  text-align: center;
  padding: 5px !important;
  p {
    justify-content: center;
    margin: 10px !important;    
  };
  .vs-icon-noti {
    background: none !important;
  }
  h1, h2, h3{
    color:white;
  }
}
.vs-input--label, .vs-select--label {
  color: #314E5F;
  font-weight: 500 ;
}
h1, h2, h3{
  color: #333333;
}
h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight-normal ;
}
p {
  font-weight: $font-weight-light;
}

div, tr, td, th, span, label{
  font-weight: 400;
  // color: #314E5F;

}
.vs-popup--header{
  padding: 0px 10px;
  height: 70px !important;
}
.vs-popup--content{
  padding: 0px 30px ;
  width: 100%;
}
.vs-popup--close {
  background-color: transparent !important;
  transition: none !important;
  transform: none !important;
  box-shadow: none !important;
}
.description-font {
  color: #888888;
  font-size: 13px;
}
.vs-sidebar-primary .vs-sidebar-item-active{
  padding-right: 0px !important;
  width: 100% !important;
  overflow: hidden !important;
  box-sizing: inherit !important;
}
.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: 0;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6, .ql-editor ol, .ql-editor p, .ql-editor pre, .ql-editor ul {
    margin: 0;
    padding: 0;
    color: #0D0D0D;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    font-weight: 600;
}

.ql-editor p{
  color: #373f47;
  font-weight: 400;
}

.ql-editor ul, .ql-editor li {
  color: #373f47;
  font-weight: 400;
}

.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
}
.ql-editor ol>li, .ql-editor ul>li {
    list-style-type: none;
}

.ql-editor li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: .3em;
    text-align: right;
}

.ql-editor ul>li::before {
    content: '\2022';
}
.ql-editor li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
}

.ql-editor {
    font-size: 16px;
}

.offer_checkout_title {
    // margin-top: 50px;
    // margin-bottom: 40px;
    line-height: 1.3;
    font-weight: 600;
    color: #0D0D0D;
    padding: 0 12px;
}

.outline-edit .ql-editor {
  min-height: 0 !important;
}
